.about {
    height: 100vh;
}
.about__box1 {
    position: relative;
    height: 50vh;
}
.video1 { 
    width: 50vh;
    height: 50vh;
    object-fit: cover; 
    margin: 0;
    padding: 0;   
    z-index:-1;
}
.about__box2 {
    position: absolute;
    top: 0;
    right: 0;
    // z-index: 1;
}
.about__text {
    display: flex;    
    justify-content: right;
    text-align: right;
    padding-top: 5vh;
    padding: 0vh 5vw 0vh 20vw;    
    color: white;
    font-size: 1.5rem;
    font-weight: lighter;
}
.about__text2 {
    display: flex;    
    justify-content: right;
    text-align: left;
    padding-top: 5vh;
    padding: 5vh 5vw;    
    color: white;
    font-size: 1.5rem;
    font-weight: lighter;
}
.dull__position {
    position: relative;
}
.dull__about{   
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 12rem;
    font-weight: 900;
    color: rgb(37, 34, 34); 
    z-index: -1;
    margin-bottom: 0px;
    // color: rgba(229, 26, 187, 0.3);
}
