.work {
    height: 100%; 
    padding-bottom: 10vh;    
    // padding-left: 12vw;    
}
.work2 {
    height: auto;
    padding-bottom: 10vh;
}
.gallery {
    display: flex;    
    justify-content: space-between;
}
.myImg {    
    // object-fit: cover;
    @include flexCenter(column);
    height: 50vh;
    object-fit: cover;
    opacity: 0.7;
        &:hover {
            opacity:1;
        }
}
