$primaryColor: rgb(8, 253, 216);
$secondaryColor: white;
$accentColor: rgb(229, 26, 187);
$dullColor:rgb(156, 152, 152);

$backgroundColor: rgb(28, 26, 26);

//rgb(40, 232, 200)
//rgb(229, 26, 187);
//rgb(156, 152, 152);
//rgb(28, 26, 26);